<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config>
    <modules>
        <Faonni_GridThumbs>
            <version>1.1.6</version>
        </Faonni_GridThumbs>
    </modules>
    <global>
        <blocks>
            <faonni_gridthumbs>
                <class>Faonni_GridThumbs_Block</class>
            </faonni_gridthumbs>
        </blocks>
        <helpers>
            <faonni_gridthumbs>
                <class>Faonni_GridThumbs_Helper</class>
            </faonni_gridthumbs>
        </helpers>
        <models>
            <faonni_gridthumbs>
                <class>Faonni_GridThumbs_Model</class>
            </faonni_gridthumbs>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <faonni_gridthumbs>
                    <file>faonni/gridthumbs.xml</file>
                </faonni_gridthumbs>
            </updates>
        </layout>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <faonni_gridthumbs>
                        <class>faonni_gridthumbs/observer</class>
                        <method>addThumbsAttribute</method>
                    </faonni_gridthumbs>
                </observers>
            </catalog_product_collection_load_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <faonni_gridthumbs>
                        <class>faonni_gridthumbs/observer</class>
                        <method>addThumbsColumn</method>
                    </faonni_gridthumbs>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <thumbs>
            <grid>
                <Mage_Adminhtml_Block_Catalog_Product_Grid/>
                <Mage_Adminhtml_Block_Catalog_Product_Edit_Tab_Related/>
                <Mage_Adminhtml_Block_Catalog_Product_Edit_Tab_Upsell/>
                <Mage_Adminhtml_Block_Catalog_Product_Edit_Tab_Crosssell/>
            </grid>
        </thumbs>
    </adminhtml>
</config>
